<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="page-container">

        <!-- Shopping list -->
        <form action="/shopping/remove" method="post" class="card">
            <h2 class="section-title">Shopping List</h2>

            <div class="checkbox-list" id="items">
            </div>

            <button type="submit" class="primary-button danger">Remove</button>
        </form>

        <!-- Add article -->
        <form action="/shopping/add" method="post" class="card">
            <h2 class="section-title">Add Item</h2>

            <input
                type="text"
                name="article"
                class="text-input"
                placeholder="Enter article"
                required
            >

            <button type="submit" class="primary-button">Add</button>
        </form>

        <!-- Logout -->
        <form action="/logout" class="logout-form">
            <button type="submit" class="secondary-button">Logout</button>
        </form>

    </div>

    <script>
        let prev_data = [];

        function make_item(item_name) {
            let label = document.createElement('label')
            label.class = 'checkbox-list';
            let input = document.createElement('input');
            input.type = 'checkbox';
            input.name = item_name;

            //if(document.getElementsByName(item_name)[0].checked) {
            //    input.checked = true; // Preserve state
            //}

            let span = document.createElement('span');
            span.innerHTML = item_name;

            label.appendChild(input);
            label.appendChild(span);

            return label;
        }

        function update_ui() {
            let checkbox = document.getElementById('items');
            checkbox.innerHTML = ''; // removing all children
            for(const d of prev_data) {
                checkbox.appendChild(make_item(d));
            }
        }

        async function fetch_data() {
            const response = await fetch('/api/data');

            if(!response.ok) return;

            const data = await response.json();
        
            if(JSON.stringify(prev_data) != JSON.stringify(data)) {
                console.log("Updating UI");
                prev_data = data;
                update_ui();
            }
        }

        const interval = setInterval(fetch_data, 1000);
    </script>
</body>
</html>
